<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pharmacie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <pharmacie.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>ABDOU-JABLI\SQLEXPRESS</value>
            </setting>
            <setting name="basedonnee" serializeAs="String">
                <value>pharmacie</value>
            </setting>
            <setting name="type" serializeAs="String">
                <value>windows</value>
            </setting>
            <setting name="logine" serializeAs="String">
                <value />
            </setting>
            <setting name="motpass" serializeAs="String">
                <value />
            </setting>
        </pharmacie.Properties.Settings>
    </userSettings>
</configuration>